In [1]:
import pandas as pd
import numpy as np
import os
import sys
sys.path.append("..")
from util.word2vec_func import load_data, tokenize_comment, count_comment

import tqdm

# Load Data

In [2]:
DATA_PATH = os.path.normpath('/Users/kim-woojeong/Downloads/daum_comments/')

In [3]:
[path for path in os.listdir(DATA_PATH) if path[-3:] == 'txt']

['daum_comments_201712_non_entertain.txt',
 'daum_comments_201709_entertain.txt',
 'daum_comments_201710_entertain.txt',
 'daum_comments_201707_entertain.txt',
 'daum_comments_201709_non_entertain.txt',
 'daum_comments_201710_non_entertain.txt',
 'daum_comments_201708_non_entertain.txt',
 'daum_comments_201711_non_entertain.txt',
 'daum_comments_201712_entertain.txt',
 'daum_comments_201711_entertain.txt',
 'daum_comments_201708_entertain.txt',
 'daum_comments_201707_non_entertain.txt']

In [4]:
total_comments_df = pd.DataFrame()
path_only_txt = [path for path in os.listdir(DATA_PATH) if path[-3:] == 'txt']

for path in path_only_txt:
    print(path)
    data_df = load_data(os.path.join(DATA_PATH,path))
    data_df = data_df[data_df.comment != ""]
    total_comments_df = total_comments_df.append(data_df)

daum_comments_201712_non_entertain.txt
312267
@@@@@@
daum_comments_201709_entertain.txt
159917
@@@@@@
daum_comments_201710_entertain.txt
119281
@@@@@@
daum_comments_201707_entertain.txt
106103
@@@@@@
daum_comments_201709_non_entertain.txt
433686
@@@@@@
daum_comments_201710_non_entertain.txt
34022
@@@@@@
daum_comments_201708_non_entertain.txt
411888
@@@@@@
daum_comments_201711_non_entertain.txt
220887
@@@@@@
daum_comments_201712_entertain.txt
92119
@@@@@@
daum_comments_201711_entertain.txt
103843
@@@@@@
daum_comments_201708_entertain.txt
31405
@@@@@@
daum_comments_201707_non_entertain.txt
371725
@@@@@@

In [5]:
#total_comments_df.to_pickle(os.path.join(DATA_PATH,"total-comments.pkl"))
total_comments_df = pd.read_pickle(os.path.join(DATA_PATH,"total-comments.pkl"))
total_comments_df.sample(5)

,news_id,comment_id,comment
13734,20171205081251688,F2B228F5E3374A21BAC05ACE2FF823AA,윤식당 1편도 재미있었답니다ㆍ 기대가되네요ㆍ
17447,20170902115610390,7DB58230E8284EB4AE5A5B134DFE93D8,발정당 개~쓰레기들
139732,20170922213632478,F44E55457A6B4DB0A2A2B54531E04417,종국아! 눈떠! 어디보고 있니!
88166,20171127161744543,A6962126A03E4CA0927ABB1376CB2C52,끼없 매력없
40262,20170908001622938,410FC4E9AE9941E4833F5870BF085638,해투1 기사에다 이런 댓글 써서 미안합니다 해투2에서 노래방 저만 불편한가요? 안...

# Tokenize comments

- 추출 태그 = ["Noun", "Adjective"]
- stopwords = ["것", "이", "안", "더", "왜", "때", "좀", "뭐", "거", "저", "뿐", "머"]

In [6]:
token_data = []

for comment in tqdm.tqdm(total_comments_df.comment):
    token = tokenize_comment(comment)
    token_data.append(token)

100%|██████████| 2393070/2393070 [1:34:01<00:00, 424.18it/s]

In [8]:
keys, n_vocab = count_comment(token_data)

사람(149608) 말(97918) 놈(83417) 그(81252) 돈(80708) 국민(79315) 생각(77891) 나라(69993) 개(64957) 이런(54893) 우리(53702) 진짜(53642) 인간(53543) 같은(53427) 일(52415) 그냥(52303) 한국(50991) 기사(50373) 정말(49593) 니(48561) 없는(47587) 문제(46967) 있는(45616) 지금(45515) 애(43968) 해(43608) 수(41481) 쓰레기(41111) 하나(40961) 내(40594) 대통령(39352) 없다(38816) 나(38804) 이제(38755) 또(38294) 못(36588) 여자(34630) 중국(34441) 때문(34434) 법(33683) 입니다(32627) 자(32572) 걸(32153) 살(32137) 미국(31914) 무슨(31666) 정부(31320) 대한민국(31313) 자기(30633) 보고(30499)
Total Vocab:  304202

In [12]:
series_token_data = pd.Series(token_data)
series_token_data[:5]

0    [이국, 종, 교수, 외과, 야전, 사령관, 분, 업무, 차질, 없도록, 물, 심양...
1             [문재인, 대통령, 이국, 종, 교수, 귀순, 병사, 모두, 건강하시길]
2                        [단, 한번, 보지, 포인트, 절반, 통신비, 차감]
3                                    [우리나라, 통신, 업체, 돈]
4                                                 [진짜]
dtype: object

In [14]:
total_comments_df['token'] = series_token_data
total_comments_df.head()

,news_id,comment_id,comment,token
0,20171201145847479,F3C2DFCFE9E947B19C8A3053DD5C821B,이국종교수는 외과 야전사령관 이다. 그분의 업무에 차질 없도록 물심양면 으로 ...,"[이국, 종, 교수, 외과, 야전, 사령관, 분, 업무, 차질, 없도록, 물, 심양..."
1,20171201145847479,61A3B6AAD6124DFFB70EC4275496F8A6,"문재인 대통령님과 이국종 교수님, 그리고 귀순병사 모두 건강하시길 빕니다.","[문재인, 대통령, 이국, 종, 교수, 귀순, 병사, 모두, 건강하시길]"
2,20171201060244786,B6660EF2C7C14A2F903A08363641CF09,단 한번도 써보지 못했다ㆍ 포인트의 절반만이라도 통신비로 차감을!,"[단, 한번, 보지, 포인트, 절반, 통신비, 차감]"
3,20171201060244786,C4F129BFB1FD4543A24A03D96F38351D,우리나라 통신업체들 참 쉽게 돈 벌어요,"[우리나라, 통신, 업체, 돈]"
4,20171201060244786,1A21FDDF151E45DF808F0E5B662E8F3C,진짜 쓸데가너무적다.,[진짜]

# word2vec 모델 학습 및 불러오기

In [18]:
import codecs
from gensim.models import word2vec

In [1]:
# 모델 학습
# data = token_data
# model_w2v = word2vec.Word2Vec(data, size = 200, window = 2, min_count=50, workers=4, iter=1000, sg=1)

In [ ]:
#모델 저장
#model_w2v.save(os.path.join(DATA_PATH,"news_word2vec200_0601.model"))

In [22]:
# 모델 불러오기
model = word2vec.Word2Vec.load(os.path.join(DATA_PATH,'news_word2vec200_0601.model'))

# 결과 확인

In [25]:
model.wv.most_similar(positive = "중국")

[('짱개', 0.7679023742675781),
 ('중공', 0.7595304250717163),
 ('짱깨', 0.7550416588783264),
 ('중국인', 0.6248396039009094),
 ('중궈', 0.6085962057113647),
 ('러시아', 0.6039886474609375),
 ('짱꼴라', 0.6032412052154541),
 ('시진핑', 0.5997093915939331),
 ('떼놈', 0.593903660774231),
 ('일본', 0.5746039152145386)]

In [27]:
model.wv.most_similar(positive = "일본")

[('쪽바리', 0.6954399347305298),
 ('일본도', 0.5997508764266968),
 ('쪽발이', 0.5985842943191528),
 ('왜놈', 0.5870932340621948),
 ('일본인', 0.5790498852729797),
 ('중국', 0.5746039152145386),
 ('미국', 0.5537657141685486),
 ('섬나라', 0.5426937341690063),
 ('영국', 0.5394709706306458),
 ('일제', 0.5370844006538391)]

In [30]:
model.wv.most_similar(positive = "대통령")

[('대통', 0.8171153664588928),
 ('문통', 0.6681836843490601),
 ('통령', 0.6041181087493896),
 ('문재인', 0.5746550559997559),
 ('영부인', 0.5668596029281616),
 ('달님', 0.5206634998321533),
 ('정부', 0.5154260993003845),
 ('김정숙', 0.5096569061279297),
 ('댓통', 0.5093349814414978),
 ('전대통령', 0.5060245990753174)]